<section id="projectdetails" class="bg-brand-dark md:bg-brand-background">
  <SectionHeader title="Project Details" url="#" :displayLink="false" class="hidden" />

  <main>
    <div class="block md:hidden">
      <div id="carouselExampleControls" class="carousel slide relative">
        <div class="carousel-inner relative w-full overflow-hidden" v-if="projectDtails && projectDtails.image && projectDtails.image.gallery">
          <div class="carousel-item relative float-left w-full" v-for="(image, index) in projectDtails.image.gallery" :class="index === activeSlide ? active : 'hidden'">
            <img :src="image.url" class="block w-full" loading="lazy" :alt="image.image_alt" />
          </div>
        </div>
        <button
          class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
          type="button"
          @click="prevSlide()"
        >
          <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
          <!-- <svg class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg> -->
          <span class="hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
          type="button"
          @click="nextSlide()"
        >
          <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
          <!-- <svg class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg> -->
          <span class="hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="grid md:grid-cols-2">
      <div class="relative px-4 py-6 md:px-10">
    
         <p class="mb-2 md:pt-7 text-white font-serif text-4xl lg:mb-4 lg:text-5xl">
          {{projectDtails.title}}
          <br>
          {{projectDtails.country}}
         </p>
         
   
        

        <div class="grid md:grid-cols-2 gap-6 md:gap-52">
          <div class="text-sm grid md:grid-cols-1 gap-4 md:gap-8">
            <div>
              <p v-if="projectDtails.client_name" class="text-brand-footer md:mb-1">
                Client
              </p>
              <p v-if="projectDtails.client_name" class="text-white">{{projectDtails.client_name}}</p>
            </div>
            <div>
              <p v-if="projectDtails.site_area" class="text-brand-footer md:mb-1">
                Site Area
              </p>
              <p v-if="projectDtails.site_area" class="text-white">{{projectDtails.site_area}}</p>
            </div>
            <div>
              <p v-if="projectDtails.gfa" class="text-brand-footer md:mb-1">
                Gross Floor Area
              </p>
              <p v-if="projectDtails.gfa" class="text-white">{{projectDtails.gfa}}</p>
            </div>
            <div>
              <p v-if="projectDtails.service" class="text-brand-footer md:mb-1">
                Services
              </p>
  
              <p v-if="projectDtails.service" v-for="(service, index) in projectDtails.service" class="text-white" v-html="service"></p>
            </div>
            <div>
              <p v-if="projectDtails.completion_date" class="text-brand-footer md:mb-1">
                Completion
              </p>
              <p v-if="projectDtails.completion_date" class="text-white">{{projectDtails.completion_date}}</p>
            </div>
          </div>
          <div>
            <p v-if="projectDtails.body_text" class="text-white text-sm">
              {{projectDtails.body_text}}
            </p>
          </div>
        </div>

        <div class="py-10">
          <div class="absolute bottom-0 left-0">
            <div class="px-4 py-6 md:px-10">
              <button @click="onClickBack()" class="text-brand-footer">
                <span class="block md:hidden"><fa class="text-brand-footer fa-3x" :icon="['fas', 'angle-left']" /></span>
                <span class="hidden md:block"><fa class="text-brand-footer fa-5x" :icon="['fas', 'angle-left']" /></span>
              </button>
            </div>
          </div>
          <div class="absolute bottom-0 right-0">
            <div class="px-4 py-6 md:px-10">
              <button @click="nextProject(projectDtails.next_project_url)" class="text-brand-footer">
                <span class="block md:hidden">Next<fa class="text-brand-footer fa-3x align-middle" :icon="['fas', 'angle-right']" /></span>
                <span class="hidden md:block">Next<fa class="text-brand-footer fa-5x align-middle" :icon="['fas', 'angle-right']" /></span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="hidden md:grid md:grid-cols-2" style="grid-auto-rows: minmax(100px, auto);" v-if="projectDtails && projectDtails.image && projectDtails.image.gallery">
        <div class="bg-brand" v-for="(image, index) in projectDtails.image.gallery" :class="setImageClasses(index)">
          <img class="object-fill cursor-pointer" loading="lazy" :src="image.url" :alt="image.image_alt" @click="openModal()">
        </div>
      </div>
    </div>
  </main>

  <div class="bg-gray-200 flex items-center justify-center" :class="displayModalBg ? 'modal-active' : ''">  
    <div class="modal fixed w-full h-full top-0 left-0 flex items-center justify-center" :class="displayModalBox ? '' : 'opacity-0 pointer-events-none'">
      <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50" @click="openModal()"></div>
      
        <div class="modal-container bg-black bg-opacity-40 rounded shadow-lg z-50 overflow-y-auto">
          
          <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50" @click="openModal()">
            <fa class="fa-3x text-brand-footer" :icon="['fas', 'fa-times']" />
          </div>

          <!-- Add margin if you want to see some of the overlay behind the modal-->
          <div class="modal-content">
            <Splide :options="options" v-if="projectDtails && projectDtails.image && projectDtails.image.gallery">
              <SplideSlide v-for="(image, index) in projectDtails.image.gallery" :key="index">
                <img class="object-fill" loading="lazy" :src="image.url" alt="image.image_alt">
              </SplideSlide>
            </Splide>
          </div>
        </div>
      </div>
    </div>


  <!-- <div class="w-full h-full">
    <div id="modal-bg" class="w-full h-full bg-black bg-opacity-40 top-0 absolute hidden" @click="onModalBgClicked()" :class="displayModalBg ? 'block' : 'hidden'"></div>
    <div id="modal-box" class="sm:w-[385px] sm:min-w-[40vw] min-w-[80vw] min-h-[50vh] flex-col items-center gap-2 -translate-y-1/2 p-6 bg-[#FFFFEB] rounded-lg top-1/2 left-1/2 -translate-x-1/2 absolute" :class="displayModalBox ? 'flex': 'hidden'">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-[#059669] mx-auto h-11 rounded-full bg-[#D1FAE5] w-11" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M5 13l4 4L19 7" />
      </svg>
      <span class="text-2xl font-medium">Payment Successful</span>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, consequatur?</p>
    </div> -->
  </div>
</section>