<div class="grid lg:grid-cols-3 2xl:grid-cols-4">
    <div class="max-w-md mx-auto sm:max-w-xl lg:max-w-full xl:mr-0 2xl:col-span-1">
      <div class="bg-white">
        <div class="px-24 py-20 xl:max-w-xl px">
          <img class="h-50 sm-mt-8 sm:w-full sm:object-cover object-center" :src="require(`~/assets/img/logo.png`)" alt="Workcation">
        </div>
      </div>
      <div class="bg-brand max-h-screen">
        <div class="px-14 py-12 xl:max-w-xl">
          <h1 class="text-3xl font-bold text-white uppercase tracking-widest">
            Engineering
          </h1>
          <ul class="list-none text-white font-semibold uppercase space-y-2 lg:mt-10 sm:mt-4 sm:text-md">
            <li>Mechanical</li>
            <li>Electrical</li>
            <li>Civil</li>
            <li>Structural</li>
            <li>Environmental</li>
            <li>Fire Safety</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hidden relative lg:block 2xl:col-span-3">
      <!-- <img class="absolute inset-0 w-full h-full object-cover object-center" :src="require(`~/assets/img/beach-work.jpg`)" alt="Woman workcationing on the beach"> -->
      <main class="overflow-y-scroll hide-scroll-bar overscroll-y-contain snap snap-y snap-mandatory" style="height: 91.125vh; -ms-overflow-style: none;">
        <!-- <main>
          <div class="w-screen carousel carousel-vertical" style="height: 91.125vh;">
            <div class="relative h-full carousel-item">
              <img src="https://picsum.photos/id/500/800/300" class="h-full">
            </div> 
            <div class="carousel-item">
              <img src="https://picsum.photos/id/501/800/300">
            </div> 
            <div class="carousel-item">
              <img src="https://picsum.photos/id/502/800/300">
            </div> 
            <div class="carousel-item">
              <img src="https://picsum.photos/id/503/800/300">
            </div> 
            <div class="carousel-item">
              <img src="https://picsum.photos/id/504/800/300">
            </div> 
            <div class="carousel-item">
              <img src="https://picsum.photos/id/505/800/300">
            </div> 
            <div class="carousel-item">
              <img src="https://picsum.photos/id/506/800/300">
            </div>
          </div> -->
          
          <!-- <div class="w-full h-full swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  class="object-cover w-full h-full"
                  src="https://source.unsplash.com/user/erondu/3000x900"
                  alt="image"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="object-cover w-full h-full"
                  src="https://source.unsplash.com/collection/190727/3000x900"
                  alt="image"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="object-cover w-full h-full"
                  src="https://source.unsplash.com/collection/190728/3000x900"
                  alt="image"
                />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div> -->
          <!-- <div class="grid grid-flow-row overflow-y-auto hide-scroll-bar overscroll-y-contain gallery-v" style="scrollbar-width: thin; scrollbar-color: #a6a6a6 #2d2d2d;">
            <div class="border-0 flex-shrink-0 gallery-item-v">
              <img class="object-none" :src="require(`~/assets/img/beach-work.jpg`)" />
            </div>
            <div class="border-0 flex-shrink-0 gallery-item-v">
              <img class="object-none" :src="require(`~/assets/img/beach-work.jpg`)" />
            </div>
            <div class="border-0 flex-shrink-0 gallery-item-v">
              <img class="object-none" :src="require(`~/assets/img/beach-work.jpg`)" />
            </div>
            <div class="border-0 flex-shrink-0 gallery-item-v">
              <img class="object-none" :src="require(`~/assets/img/beach-work.jpg`)" />
            </div>
          </div> -->
        
        <section class="w-full h-screen bg-center bg-cover snap-start bg-home-1">
          <div class="p-10 text-white flex bg-black bg-opacity-40">
            <div class="min-h-screen min-w-full">
              <div class="flex flex-row-reverse w-full">
                <h1 class="text-3xl text-white uppercase whitespace-pre-wrap">
                  Experience
                          Beyond<span class="text-brand-orange">.</span>
                </h1>
              </div>
              <div class="mt-64 flex flex-row justify-between items-center">
                <div class="w-3/5 text-2xl">
                  <p>
                    We believe that when clients choose us, they often make
                    decisions based on our people. Whether for residential,
                    commercial, institutional or infrastructural projects,
                    our engineers are hands-on collaborators, confidently
                    delivering innovative, space-saving and environmentally
                    sensitive designs.
                  </p>
                </div>
                <div class="uppercase text-3xl">
                  <ul class="list-none">
                    <li>Singapore</li>
                    <li class="mt-4">Malaysia</li>
                    <li class="mt-4">Myanmar</li>
                    <li class="mt-4">Vietnam</li>
                  </ul>
                </div>
              </div>
              <div class="pt-10 flex flex-row">
                <p class="text-sm">Outpost Hotel, Singapore</p>
              </div>
            </div>
          </div>
        </section>

        <section class="flex items-center justify-center w-full h-screen bg-center bg-cover snap-start bg-home-1">
          <div class="p-10 text-white flex bg-black bg-opacity-40">
            <div class="min-h-screen min-w-full">
              <div class="flex flex-row-reverse w-full">
                <h1 class="text-3xl text-white uppercase whitespace-pre-wrap">
                  Experience
                          Beyond<span class="text-brand-orange">.</span>
                </h1>
              </div>
              <div class="mt-64 flex flex-row justify-between items-center">
                <div class="w-3/5 text-2xl">
                  <p>
                    We believe that when clients choose us, they often make
                    decisions based on our people. Whether for residential,
                    commercial, institutional or infrastructural projects,
                    our engineers are hands-on collaborators, confidently
                    delivering innovative, space-saving and environmentally
                    sensitive designs.
                  </p>
                </div>
                <div class="uppercase text-3xl">
                  <ul class="list-none">
                    <li>Singapore</li>
                    <li class="mt-4">Malaysia</li>
                    <li class="mt-4">Myanmar</li>
                    <li class="mt-4">Vietnam</li>
                  </ul>
                </div>
              </div>
              <div class="pt-10 flex flex-row">
                <p class="text-sm">Outpost Hotel, Singapore</p>
              </div>
            </div>
          </div>
        </section>

        <section class="flex items-center justify-center text-white w-full h-screen bg-center bg-cover snap-start bg-home-1">
          <div class="p-10 text-white flex bg-black bg-opacity-40">
            <div class="min-h-screen min-w-full">
              <div class="flex flex-row-reverse w-full">
                <h1 class="text-3xl text-white uppercase whitespace-pre-wrap">
                  Experience
                          Beyond<span class="text-brand-orange">.</span>
                </h1>
              </div>
              <div class="mt-64 flex flex-row justify-between items-center">
                <div class="w-3/5 text-2xl">
                  <p>
                    We believe that when clients choose us, they often make
                    decisions based on our people. Whether for residential,
                    commercial, institutional or infrastructural projects,
                    our engineers are hands-on collaborators, confidently
                    delivering innovative, space-saving and environmentally
                    sensitive designs.
                  </p>
                </div>
                <div class="uppercase text-3xl">
                  <ul class="list-none">
                    <li>Singapore</li>
                    <li class="mt-4">Malaysia</li>
                    <li class="mt-4">Myanmar</li>
                    <li class="mt-4">Vietnam</li>
                  </ul>
                </div>
              </div>
              <div class="pt-10 flex flex-row">
                <p class="text-sm">Outpost Hotel, Singapore</p>
              </div>
            </div>
          </div>
        </section>
        
        <section class="flex items-center text-purple w-full h-screen bg-center bg-cover snap-start bg-home-1">
          <div class="p-10 text-white flex bg-black bg-opacity-40">
            <div class="min-h-screen min-w-full">
              <div class="flex flex-row-reverse w-full">
                <h1 class="text-3xl text-white uppercase whitespace-pre-wrap">
                  Experience
                          Beyond<span class="text-brand-orange">.</span>
                </h1>
              </div>
              <div class="mt-64 flex flex-row justify-between items-center">
                <div class="w-3/5 text-2xl">
                  <p>
                    We believe that when clients choose us, they often make
                    decisions based on our people. Whether for residential,
                    commercial, institutional or infrastructural projects,
                    our engineers are hands-on collaborators, confidently
                    delivering innovative, space-saving and environmentally
                    sensitive designs.
                  </p>
                </div>
                <div class="uppercase text-3xl">
                  <ul class="list-none">
                    <li>Singapore</li>
                    <li class="mt-4">Malaysia</li>
                    <li class="mt-4">Myanmar</li>
                    <li class="mt-4">Vietnam</li>
                  </ul>
                </div>
              </div>
              <div class="pt-10 flex flex-row">
                <p class="text-sm">Outpost Hotel, Singapore</p>
              </div>
            </div>
          </div>
        </section>
        
      </main>
    </div>
</div>