<div class="grid md:grid-cols-4 lg:grid-cols-4 2xl:grid-cols-4">
    <div class="max-w-md sm:max-w-xl lg:max-w-full xl:mr-0 md:col-span-1 2xl:col-span-1">
      <div class="hidden bg-white sm:block">
        <div class="px-24 py-20 mb-0.5 xl:max-w-xl px">
          <img class="h-50 sm-mt-8 sm:w-full sm:object-cover object-center" :src="require(`~/assets/img/logo.png`)" alt="Workcation">
        </div>
      </div>
      <div class="relative md:hidden">
        <div class="max-w-full">
          <img class="w-full object-cover object-center" :src="sliderImage" alt="Slider Image">
          <div class="absolute w-full h-full sm:w-full sm:h-full top-0 left-0 block bg-black bg-opacity-40">  <!--height: 16.63rem-->
            <div class="uppercase text-xl text-right text-white">
              <ul class="list-none px-3 py-4">
                <li @click="sliderImage = require('~/assets/img/beach-work.jpg')">Singapore</li>
                <li @click="sliderImage = require('~/assets/img/hu-jiarui.jpg')">Indonesia</li>
                <li @click="sliderImage = require('~/assets/img/beach-work.jpg')">Malaysia</li>
                <li @click="sliderImage = require('~/assets/img/hu-jiarui.jpg')">Mongolia</li>
                <li @click="sliderImage = require('~/assets/img/beach-work.jpg')">Myanmar</li>
                <li @click="sliderImage = require('~/assets/img/hu-jiarui.jpg')">Thailand</li>
                <li @click="sliderImage = require('~/assets/img/beach-work.jpg')">Vietnam</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div v-if="hero" :style="{'background-color': hero[selectedSlide].hex_color}">
        <div class="px-4 sm:px-14 py-10 xl:max-w-xl">
          <h1 class="mb-6 text-3xl font-bold text-white uppercase tracking-widest sm:mb-0">
            Engineering
          </h1>
          <ul class="list-none text-white font-semibold uppercase sm:space-y-2 lg:mt-10 sm:mt-4 sm:text-md">
            <li>Mechanical</li>
            <li>Electrical</li>
            <li>Civil</li>
            <li>Structural</li>
            <li>Environmental</li>
            <li>Fire Safety</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hidden relative md:block md:col-span-3 lg:col-span-3 2xl:col-span-3">
      <section v-if="hero" class="bg-center bg-cover" :style="{ backgroundImage: `url('${hero[selectedSlide].image}')` }">
        <div class="p-10 text-white flex bg-black bg-opacity-40">
          <div>
            <div class="flex flex-row-reverse w-full">
              <h1  v-if="hero" class="text-3xl text-white uppercase whitespace-pre-wrap">
                Experience
                        {{hero[selectedSlide].country}}<span class="text-brand-orange">.</span>
              </h1>
            </div>
            <div class="mt-64 flex flex-row justify-between items-center">
              <div class="w-3/5 text-2xl md:text-md">
                <p>
                  {{content[selectedSlide].text}}
                </p>
              </div>
              <div class="uppercase text-3xl md:text-md">
                <ul class="list-none">
                  <li v-for="(country, index) in countries" class="cursor-pointer" :class="{ 'mt-4': index !== 0 }" @click="selectedSlide = index">{{country}}</li>
                </ul>
              </div>
            </div>
            <div v-if="hero" class="pt-10 flex flex-row">
              <p class="text-sm">{{hero[selectedSlide].project}}</p>
            </div>
          </div>
        </div>
      </section>




      <!-- <section class="bg-center bg-cover" :style="getBackgroundImage(content[selectedCountry].imgUrl)">
        <div class="p-10 text-white flex bg-black bg-opacity-40">
          <div> class="min-h-screen min-w-full"
            <div class="flex flex-row-reverse w-full">
              <h1 class="text-3xl text-white uppercase whitespace-pre-wrap">
                {{splitTitle(content[selectedCountry].title)[0]}}
                        {{splitTitle(content[selectedCountry].title)[1]}}<span class="text-brand-orange">.</span>
              </h1>
            </div>
            <div class="mt-64 flex flex-row justify-between items-center">
              <div class="w-3/5 text-2xl md:text-md">
                <p>
                  {{content[selectedCountry].text}}
                </p>
              </div>
              <div class="uppercase text-3xl md:text-md">
                <ul class="list-none">
                  <li class="cursor-pointer" @click="selectedCountry = 'singapore'">Singapore</li>
                  <li class="mt-4 cursor-pointer" @click="selectedCountry = 'malaysia'">Malaysia</li>
                  <li class="mt-4 cursor-pointer" @click="selectedCountry = 'myanmar'">Myanmar</li>
                  <li class="mt-4 cursor-pointer" @click="selectedCountry = 'vietnam'">Vietnam</li>
                </ul>
              </div>
            </div>
            <div class="pt-10 flex flex-row">
              <p class="text-sm">{{content[selectedCountry].caption}}</p>
            </div>
          </div>
        </div>
      </section> -->
      
      <!-- <img class="absolute inset-0 w-full h-full object-cover object-center" :src="require(`~/assets/img/beach-work.jpg`)" alt="Woman workcationing on the beach"> -->
      <!-- <main class="overflow-y-scroll hide-scroll-bar overscroll-y-contain snap snap-y snap-mandatory" style="height: 93vh; -ms-overflow-style: none;"> 91.125 for firefox
        <section id="singapore" class="w-full h-screen bg-center bg-cover snap-start" :style="getBackgroundImage(content[selectedCountry].imgUrl)">
          <div class="p-10 text-white flex bg-black bg-opacity-40">
            <div class="min-h-screen min-w-full">
              <div class="flex flex-row-reverse w-full">
                <h1 class="text-3xl text-white uppercase whitespace-pre-wrap">
                  {{splitTitle(content[selectedCountry].title)[0]}}
                          {{splitTitle(content[selectedCountry].title)[1]}}<span class="text-brand-orange">.</span>
                </h1>
              </div>
              <div class="mt-64 flex flex-row justify-between items-center">
                <div class="w-3/5 text-2xl md:text-md">
                  <p>
                    {{content[selectedCountry].text}}
                  </p>
                </div>
                <div class="uppercase text-3xl md:text-md">
                  <ul class="list-none">
                    <li class="cursor-pointer" @click="selectedCountry = 'singapore'">Singapore</li>
                    <li class="mt-4 cursor-pointer" @click="selectedCountry = 'malaysia'">Malaysia</li>
                    <li class="mt-4 cursor-pointer" @click="selectedCountry = 'myanmar'">Myanmar</li>
                    <li class="mt-4 cursor-pointer" @click="selectedCountry = 'vietnam'">Vietnam</li>
                  </ul>
                </div>
              </div>
              <div class="pt-10 flex flex-row">
                <p class="text-sm">{{content[selectedCountry].caption}}</p>
              </div>
            </div>
          </div>
        </section>
        
      </main> -->
    </div>
</div>