<section id="experience" class="bg-brand-background">
    <SectionHeader title="#ExperienceBeyond" url="#" />
    <div class="flex flex-row">
        <div class="w-full h-full border-0">
            <img class="object-center h-64 w-full" :src="require(`~/assets/img/exp-1.png`)" />
        </div>
        <div class="w-full h-full border-0">
            <img class="object-center h-64 w-full" :src="require(`~/assets/img/exp-2.png`)" />
        </div>
        <div class="w-full h-full border-0">
            <img class="object-center h-64 w-full" :src="require(`~/assets/img/exp-3.png`)" />
        </div>
        <div class="w-full h-full border-0">
            <img class="object-center h-64 w-full" :src="require(`~/assets/img/exp-4.png`)" />
        </div>
        <div class="w-full h-full border-0">
            <img class="object-center h-64 w-full" :src="require(`~/assets/img/exp-5.png`)" />
        </div>
    </div>
</section>