<div v-if="displayFilter" class="uppercase text-brand-orange text-sm justify-items-end self-end">
    <a>Filter</a>
</div>

<div v-if="displayOptions" class="text-white font-medium">
    <ul class="mb-5 list-none text-sm md:text-base uppercase">
      <li>Type</li>
      <li>Service</li>
      <li class="text-brand-orange">Country</li>
    </ul>
    <ul class="list-none text-sm">
      <li class="text-brand-orange">All</li>
      <li>Australia</li>
      <li>China</li>
      <li>Indonesia</li>
      <li>India</li>
      <li>Cambodia</li>
      <li>South Korea</li>
      <li>Sri Lanka</li>
      <li>Myanmar</li>
      <li>Mongolia</li>
      <li>Malaysia</li>
      <li>Philippines</li>
      <li>Singapore</li>
      <li>Thailand</li>
      <li>Taiwan</li>
      <li>United State of America</li>
      <li>Vietnam</li>
    </ul>
</div>