@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Cormorant-Garamond';
        src: url(../fonts/Cormorant-Garamond.ttf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Cormorant-Garamond';
        src: url(../fonts/Cormorant-Garamond-500.ttf);
        font-weight: 500;
    }

    @font-face {
        font-family: 'OpenSans';
        src: url(../fonts/OpenSans-Light.ttf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'OpenSans';
        src: url(../fonts/OpenSans-Regular.ttf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'OpenSans';
        src: url(../fonts/OpenSans-Semibold.ttf);
        font-weight: 600;
    }
}

@layer components {
    html, body {
        overflow-x: hidden;
    }
    .btn {
        @apply inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring
        focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;
    }
    .btn-primary {
        @apply bg-indigo-500 hover:bg-indigo-400 focus:ring-indigo-500 focus:ring-opacity-50 active:bg-indigo-600 text-white;
    }

    .btn-secondary {
        @apply bg-gray-300 hover:bg-gray-200  focus:ring-gray-300 focus:ring-opacity-50 active:bg-gray-400 text-gray-800;
    }
    .gallery-item {
        scroll-snap-align: start;
    }
    .gallery {
        -webkit-overflow-scrolling: touch;
        -moz-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    .carousel {
        display: flex;
        overflow-x: scroll;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .carousel-vertical {
        flex-direction: column;
        overflow-y: scroll;
        -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    }

    .carousel-item {
        box-sizing: content-box;
        display: flex;
        flex: none;
        scroll-snap-align: start;
    }
    
    /* ::-webkit-scrollbar:horizontal {
        height: 4px;
        width: 4px;
        background-color: #2d2d2d;
    }
    ::-webkit-scrollbar-thumb:horizontal {
        background: #a6a6a6;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track:horizontal {
        margin-left: 25vw;
        margin-right: 25vw;
        background-color: #2d2d2d;
    }

    ::-webkit-scrollbar-track-piece:horizontal {
        background-color: #2d2d2d;
    } */


    /* Turn on a 13x13 scrollbar */
    ::-webkit-scrollbar {
        /* width: 4px; */
        height: 5px;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track:horizontal {
        background-color: transparent;
        /* border: 1px dashed pink; */
    }

    /* Top area above thumb and below up button */
     ::-webkit-scrollbar-track-piece:horizontal:start {
        margin-left: 25vw;
        background-color: #2d2d2d;
        /* border: 1px solid #000; */
    }

    /* Bottom area below thumb and down button */
    ::-webkit-scrollbar-track-piece:horizontal:end {
        /* border: 1px dashed pink; */
        margin-right: 25vw;
        background-color: #2d2d2d;
    }

    /* Track below and above */
    ::-webkit-scrollbar-track-piece {
        background-color: #2d2d2d;
    }

    /* The thumb itself */
    ::-webkit-scrollbar-thumb:horizontal {
        background-color: #a6a6a6;
        border-radius: 10px;
    }

    /* Corner */
    ::-webkit-scrollbar-corner:horizontal {
        background-color: black;
    }

    /* Resizer */
    ::-webkit-scrollbar-resizer:horizontal {
        background-color: gray;
    }

    .carousel-item {
        display:none;
        margin-right:-100%;
        backface-visibility:hidden;
        transition:transform .6s ease-in-out
    }
    .carousel-item.active {
        display:block
    }

    .carousel-item-next {
        display:block
    }
    .carousel-item-prev {
        display:block
    }
    .carousel-item-next:not(.carousel-item-start) {
        transform:translateX(100%)
    }
    .active.carousel-item-end {
        transform:translateX(100%)
    }
    .carousel-item-prev:not(.carousel-item-end) {
        transform:translateX(-100%)
    }
    .active.carousel-item-start {
        transform:translateX(-100%)
    }

    .carousel-control-prev {
        z-index:1;
        width:15%;
        color:#fff;
        background:0 0;
        opacity:.5;
        transition:opacity .15s ease
    }
    .carousel-control-next {
        z-index:1;
        width:15%;
        color:#fff;
        background:0 0;
        opacity:.5;
        transition:opacity .15s ease
    }
    .carousel-control-prev:hover {
        color:#fff;
        opacity:.9
    }
    .carousel-control-prev:focus {
        color:#fff;
        opacity:.9
    }
    .carousel-control-next:hover {
        color:#fff;
        opacity:.9
    }
    .carousel-control-next:focus {
        color:#fff;
        opacity:.9
    }

    .carousel-control-prev-icon {
        width:2rem;
        height:2rem;
        background-position:50%;
        background-size:100% 100%;
        background-image:url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 fill=%22%23fff%22%3E%3Cpath d=%22M11.354 1.646a.5.5.0 010 .708L5.707 8l5.647 5.646a.5.5.0 01-.708.708l-6-6a.5.5.0 010-.708l6-6a.5.5.0 01.708.0z%22/%3E%3C/svg%3E")
    }
    .carousel-control-next-icon {
        width:2rem;
        height:2rem;
        background-position:50%;
        background-size:100% 100%;
        background-image:url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 fill=%22%23fff%22%3E%3Cpath d=%22M4.646 1.646a.5.5.0 01.708.0l6 6a.5.5.0 010 .708l-6 6a.5.5.0 01-.708-.708L10.293 8 4.646 2.354a.5.5.0 010-.708z%22/%3E%3C/svg%3E")
    }

    [type='checkbox']:checked:focus {
        background-color: #ff5100;
    }

    [type='checkbox']:checked:hover {
        background-color: #ff5100;
    }
}

@layer utilities {
    /* .snap {
      scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
      -ms-scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .snap-y {
      --scroll-snap-direction: y;
    }
    .snap-mandatory {
      --scroll-snap-constraint: mandatory;
    }
    .snap-start {
      scroll-snap-align: start;
    }
    .snap::-webkit-scrollbar {
        display: none;
    } */

    .list-middot > li:not(:last-child)::after {
        content: '·';
    }

    .marker {
        background-image: url('assets/img/circle.svg');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
      
}