<section id="projects" class="bg-brand-background lg:pb-20">
    <SectionHeader @updateFilterBy="updateFilterBy" @filter="filter" :filterByType="filterByType" :filterByService="filterByService" :filterByCountry="filterByCountry" :filterOptions="filterOptions" :filterType="filterType" :filterService="filterService" :filterCountry="filterCountry" class="lg:hidden" title="Projects" :displayFilter="true" subTitle="SAMPLE. Our 360 solution addresses your every need, covering design, engineering and project management." />

    <main class="block lg:hidden">
      <div class="flex flex-wrap">
        <div v-if="filteredProjects" v-for="item in filteredProjects" class="w-1/2 flex-shrink-0 bg-brand-dark cursor-pointer" @click="$router.push({path: 'project-details', query: { pslug: item.url.split('/').slice(4, 6).join('/')}})">
            <img :src="item.thumbnail" class="h-40 w-full md:h-72 object-cover" loading="lazy" :alt="item.title" />
            <div class="py-4 px-5">
              <div>
                <p class="text-brand-orange font-bold text-xs">{{item.title}}</p>
              </div>
              <p class="mb-3 text-white text-xs">{{item.country}}</p>
            </div>
        </div>
      </div>
    </main>
    <!--"hidden lg:block"-->
    <main class="hidden lg:block">
      <div class="flex flex-row">
        <div class="w-1/6 flex flex-col py-16 px-10">
          <div class="pb-32">
            <p class="self-start text-sm md:text-base font-medium text-white">
              SAMPLE. Our 360 solution addresses your every need, covering design, engineering and project management.
            </p>
          </div>
          <!-- <Filter :displayOptions="true" /> -->
          <div class="text-white font-medium">
            <div class="flex flex-col justify-between mb-5">
              <div class="cursor-pointer text-sm md:text-base uppercase" @click="updateFilterBy('type')" :class="filterByType ? 'text-brand-orange' : 'text-white'">
                Type     
              </div>
              <ul class="py-3 list-none text-sm" v-if="filterOptions && filterOptions[0]  && filterByType">
                <!-- <li class="cursor-pointer" :class="filterType == 'All' ? 'text-brand-orange' : 'text-white'" @click="filter('filterType', 'All')">All</li> -->
                <li class="cursor-pointer" v-for="type in filterOptions[0].type" :class="filterType == type.slug ? 'text-brand-orange' : 'text-white'" @click="filter('filterType', type.slug)">{{type.name}}</li>
              </ul> 
              <div class="cursor-pointer text-sm md:text-base uppercase" @click="updateFilterBy('service')" :class="filterByService ? 'text-brand-orange' : 'text-white'">
                Service
              </div>
              <ul class="py-3 list-none text-sm" v-if="filterOptions && filterOptions[0]  && filterByService">
                <!-- <li class="cursor-pointer" :class="filterService == 'All' ? 'text-brand-orange' : 'text-white'" @click="filter('filterService', 'All')">All</li> -->
                <li class="cursor-pointer" v-for="service in filterOptions[0].service" :class="filterService == service.slug ? 'text-brand-orange' : 'text-white'" @click="filter('filterService', service.slug)">{{service.name}}</li>
              </ul>
              <div class="cursor-pointer text-sm md:text-base uppercase" @click="updateFilterBy('country')" :class="filterByCountry ? 'text-brand-orange' : 'text-white'">
                Country
              </div>
              <ul class="py-3 list-none text-sm" v-if="filterOptions && filterOptions[0] && filterByCountry">
                <li class="cursor-pointer" :class="filterCountry == 'All' ? 'text-brand-orange' : 'text-white'" @click="filter('filterCountry', 'All')">All</li>
                <li class="cursor-pointer" v-for="country in filterOptions[0].country" :class="filterCountry == country.code ? 'text-brand-orange' : 'text-white'" @click="filter('filterCountry', country.code)">{{country.name}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="w-5/6 flex flex-wrap">
          <div v-if="filteredProjects" v-for="item in filteredProjects" class="w-60 h-60 relative border-0 cursor-pointer" style="flex-basis: 20%" @click="$router.push({path: 'project-details', query: { pslug: item.url.split('/').slice(4, 6).join('/')}})">
            <img :src="item.thumbnail" class="object-fill h-full w-full" loading="lazy" :alt="item.title" />
            <div class="absolute w-full h-full top-0 left-0 block opacity-0 hover:opacity-100 hover:bg-opacity-100 hover:bg-brand-orange">
              <div class="grid grid-rows-2 justify-center text-white">
                <div class="px-12 py-24 row-span-1 flex justify-start flex-col">
                  <h1 class="text-white font-serif text-xl font-medium">{{item.title}}</h1>
                  <p class="text-muted">{{item.country}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>