<section class="bg-black">
  <div class="grid lg:grid-cols-3 2xl:grid-cols-6">
    <div class="px-8 py-12 max-w-md mx-2 sm:max-w-xl lg:px-12 lg:py-24 lg:max-w-full xl:mr-0 2xl:col-span-2">
      <div class="xl:max-w-xl">
          <img class="h-10" :src="require(`~/assets/img/logo-white.png`)" alt="Rankine & Hill">
          <img class="mt-6 rounded-lg shadow-xl sm:mt-8 sm:h-64 sm:w-full sm:object-cover object-center lg:hidden" :src="require(`~/assets/img/beach-work.jpg`)" alt="Woman workcationing on the beach">
          <h1 class="mt-6 text-xl font-bold text-white sm:mt-8 sm:text-4xl lg:text-3xl xl:text-4xl">
              Rankine&Hill Pte Ltd
          </h1>
          <p class="mt-2 text-white sm:mt-4 sm:text-xl">
            510 Thomson Road <br class="hidden lg:inline"> <span>#11-00 SLF Building</span> <br class="hidden lg:inline"> <span>Singapore 298135</span>
          </p>
          <p class="mt-2 text-white sm:mt-4 sm:text-xl">
            Tel +65 6258 8666 <br class="hidden lg:inline"> <span>Fax +65 6259 8648</span>
          </p>
      </div>
    </div>
    <div class="px-8 py-12 max-w-md mx-2 sm:max-w-xl lg:px-12 lg:py-24 lg:max-w-full xl:mr-0 2xl:col-span-2">
        <div class="xl:max-w-xl">
            <img class="h-10" :src="require(`~/assets/img/logos.png`)" alt="Multiple Logos">
            <img class="mt-6 rounded-lg shadow-xl sm:mt-8 sm:h-64 sm:w-full sm:object-cover object-center lg:hidden" :src="require(`~/assets/img/beach-work.jpg`)" alt="Woman workcationing on the beach">
            <h1 class="mt-6 text-xl font-bold text-white sm:mt-8 sm:text-4xl lg:text-3xl xl:text-4xl">
              &nbsp;
            </h1>
            <ul class="mt-2 list-none text-white sm:mt-4 sm:text-xl">
              <li>About</li>
              <li>Projects</li>
              <li>Awards</li>
              <li>Resources</li>
              <li>Insights</li>
              <li>Offices</li>
              <li>Contact</li>
              <li>Login</li>
            </ul>
            <p class="mt-2 text-white sm:mt-4 sm:text-xl">
              Tel +65 6258 8666 <br class="hidden lg:inline"> <span>Fax +65 6259 8648</span>
            </p>
            <div class="mt-4 sm:mt-6 space-x-1">
                <a class="btn btn-primary shadow-lg hover:-translate-y-0.5 transform transition" href="#">Book your escape</a>
                <a class="btn btn-secondary" href="#">Learn More</a>
            </div>
        </div>
    </div>
    <div class="hidden relative lg:block 2xl:col-span-2">
        <img class="absolute inset-0 w-full h-full object-cover object-center" :src="require(`~/assets/img/beach-work.jpg`)" alt="Woman workcationing on the beach">
    </div>
  </div>
</section>