<section id="contact" class="bg-brand-contact">
    <SectionHeader title="Contact" url="#" />
    <div class="grid lg:grid-cols-2 2xl:grid-cols-2">
        <div class="px-8 py-12 max-w-md sm:max-w-xl lg:px-14 lg:py-8 lg:max-w-full xl:mr-0 2xl:col-span-1">
            <div class="xl:max-w-xl">
                <!-- <img class="h-10" :src="require(`~/assets/img/logo.svg`)" alt="Workcation"> -->
                <img class="mt-6 rounded-lg shadow-xl sm-mt-8 sm:h-64 sm:w-full sm:object-cover object-center lg:hidden" :src="require(`~/assets/img/oasia-hotel.png`)" alt="Woman workcationing on the beach">
                <h1 class="mt-6 text-xl text-white sm:mt-8 sm:text-4xl lg:text-3xl xl:text-4xl">
                    Singapore Office
                </h1>
                <p class="lg:mt-8 text-white lg:text-sm sm:mt-4 sm:text-xl">
                  510 Thomson Road <br class="hidden lg:inline"> <span>#11-00 SLF Building</span> <br class="hidden lg:inline"> <span>Singapore 298135</span>
                </p>
                <p class="lg:mt-5 text-white lg:text-sm sm:mt-4 sm:text-xl">
                  Tel +65 6258 8666 <br class="hidden lg:inline"> <span>Fax +65 6259 8648</span>
                </p>
            </div>
        </div>
        <div class="hidden relative lg:block lg:col-span-1 2xl:col-span-1 bg-brand-background">
            <!-- <img class="absolute inset-0 w-full h-full object-cover object-center" :src="require(`~/assets/img/oasia-hotel.png`)" alt="Woman workcationing on the beach"> -->
        </div>
    </div>
</section>