<section id="projects" class="bg-brand-background pb-5 lg:pb-20">
    <SectionHeader title="Projects" url="projects" displayLink="true" />

    <main class="block lg:hidden">
      <div class="grid grid-flow-col pb-5 overflow-x-auto hide-scroll-bar overscroll-x-contain gallery" style="grid-template-rows: auto auto; scrollbar-width: thin; scrollbar-color: #a6a6a6 #2d2d2d;">
        <div v-if="projects" v-for="item in projects" class="w-52 flex-shrink-0 bg-brand-dark gallery-item">
              <!-- <img class="rounded-t-lg" :src="item.thumbnail" /> -->
            <img :src="item.thumbnail" class="h-40 object-cover" />
            <div class="py-4 px-5">
                <div>
                    <p class="text-brand-orange font-bold text-xs">{{item.title}}</p>
                </div>
                <p class="mb-3 text-white text-xs">{{item.country}}</p>
            </div>
        </div>
      </div>
    </main>
    <!--"hidden lg:block"-->
    <main class="hidden lg:block">
      <div class="grid grid-flow-col pb-20 overflow-x-auto hide-scroll-bar overscroll-x-contain gallery" style="grid-template-rows: auto auto; scrollbar-width: thin; scrollbar-color: #a6a6a6 #2d2d2d;">
        <div v-if="projects" v-for="item in projects" class="w-[27rem] h-72 relative border-0 flex-shrink-0 gallery-item cursor-pointer" @click="$router.push({path: 'project-details', query: { pslug: item.url.split('/').slice(4, 6).join('/')}})">
          <img :src="item.thumbnail" class="object-fill h-full w-full" />
          <div class="px-12 py-10 text-white flex flex-col place-content-end absolute w-full h-full top-0 left-0 bg-black bg-opacity-40">
            <div class="items-center">
              <template v-for="(service, index) in item.service">
                {{ service }} <span v-if="index !== (item.service.length - 1)">&nbsp;&bull;&nbsp;</span>
              </template>
              <span class="text-brand-orange">&nbsp;&bull;&nbsp;</span><span class="uppercase">{{item.country}}</span>
            </div>
            <div class="py-2">
              <h1 class="text-4xl font-medium text-white font-serif">{{item.title}}</h1>
            </div>
          </div>
        </div>
        <!-- <div class="w-96 h-64 relative border-0 flex-shrink-0 gallery-item">
          <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2hvZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" />
          <div class="px-16 py-20 text-white absolute flex flex-col w-full h-full top-0 left-0 bg-black bg-opacity-40">
            <div class="items-center">
              Architecture<span>&nbsp;&bull;&nbsp;</span>
              Engineering<span>&nbsp;&bull;&nbsp;</span>
              Interior<span>&nbsp;&bull;&nbsp;</span>
              Landscape<span>&nbsp;&bull;&nbsp;</span>
              Lighting<span class="text-brand-orange">&nbsp;&bull;&nbsp;</span>MYANMAR
            </div>
            <div class="py-2">
              <h1 class="text-4xl font-medium text-white font-serif">Kalaw</h1>
            </div>
          </div>
        </div> -->
      </div>
    </main>
  </section>